<div *ngIf="restaurant" class="center row">
	<h1>{{restaurant.name | uppercase}}</h1>
	<div class="col s12 m6 l6">
		<img class="restaurant-img" src="../assets/images/restaurant1.jpg">
	</div>
	<div class="col s12 m6 l6">
		<div>{{restaurant.site}}</div>
		<div>{{restaurant.email}}</div>
		<div>{{restaurant.phone}}</div>
		<div>{{restaurant.street}}</div>
		<div>{{restaurant.city}}</div>
		<div>{{restaurant.state}}</div>
		<i class="material-icons" *ngFor="let i of arr(restaurant.rating)">
		  stars
		</i>
	</div>
</div>

<agm-map [latitude]="(restaurant.lat)" [longitude]="(restaurant.lng)" [zoom]="15">
  <agm-marker [latitude]="(restaurant.lat)" [longitude]="(restaurant.lng)"></agm-marker>
</agm-map>

<button (click)="goBack()">go back</button>