/*h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}*/
/*nav a {
  text-decoration: none;
  display: inline-block;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
}
nav a.active {
  color: #039be5;
}*/